.product {
    padding: 15px 0;

    .product-img {
        text-align: center;
        margin-bottom: 15px;
        img {
            width: 150px;
            height: auto;
        }
    }

    .product-title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .product-decs {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .product-features {
        margin-bottom: 15px;
        font-size: 17px;
        span {
            font-weight: bold;
        }
    }
    .product-price {
        font-size: 19px;
        span {
            font-weight: bold;
        }
    }
    .btns-wrap {
        display: flex;
        justify-content: center;
    }
    .product-quantity {
        display: flex;
        margin-top: 15px;
        input {
            text-align: center;
        }
    }

    .red {
        color: red;
    }
    .green {
        color: green;
    }
}
